<p><b>Welcome to the MyBB Documentation.</b> Here you can read tutorials, the online documentation, and much more.  Some <i>frequently asked questions</i> and common solutions about MyBB are also documented in the <b><a href="Help-Contents" title="Help-Contents">Help section</a></b>.
</p>
<div style="background: #FFF6BF;border: 1px solid #FFD324;text-align: center;margin: 10px auto;padding: 5px;"><b>Latest MyBB Release:</b> Version <a href="{{ site.url }}/1612.html" title="1.6.12">1.6.12</a> (October 8, 2013)
</div>
<div style="width: 100%; position: relative; clear: both;">
<div style="width:47%; float:left; display: inline; padding:0; margin-bottom:15px;">
<h2> <span class="mw-headline" id="MyBB_Support"> MyBB Support <a href="Help-Contents.html" title="Help Contents">&#187;</a> </span></h2>
<div style="padding:0.5em; background: #f5f5f5; border: 1px solid #ddd;  margin-bottom: 10px;">
<h3> <span class="mw-headline" id="Setting_up_MyBB"> Setting up MyBB <a href="{{ site.url }}/Installing.html" title="Installing">&#187;</a></span></h3>
<div style="padding:0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <b><a href="{{ site.url }}/Installing.html" title="Installing">Installing MyBB</a></b>
</li><li> <a href="{{ site.url }}/Upgrading.html" title="Upgrading">Upgrading MyBB</a>
</li></ul>
<ul><li> <a href="{{ site.url }}/Requirements.html" title="Requirements">MyBB Requirements</a>
</li><li> <a href="{{ site.url }}/Using_FTP.html" title="Using FTP">Using FTP programs</a>
</li><li> <a href="{{ site.url }}/HowTo_Chmod.html" title="How TO CHMOD Files" class="mw-redirect">How to CHMOD files</a>
</li></ul>
</div>
<h3> <span class="mw-headline" id="Common_Issues"> Common Issues <a href="{{ site.url }}/Help-Contents.html" title="Help Contents">&#187;</a> </span></h3>
<div style="padding:0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <a href="{{ site.url }}/Help-Cannot_login.html" title="Help: Cannot login">Cannot Login</a>
</li><li> <a href="{{ site.url }}/Help-Cannot_logout.html" title="Help: Cannot logout">Cannot Logout</a>
</li><li> <a href="{{ site.url }}/Help-Mail.html" title="Help: Mail">Mail Issues</a>
</li><li> <a href="{{ site.url }}/Help-Common_Error_Messages.html" title="Help: Common Error Messages">Common Error Messages</a>
</li><li> <b><a href="{{ site.url }}/Help-Contents.html" title="Help: Contents">More Common Issues and Questions &#187;</a></b>
</li></ul>
</div>
<h3> <span class="mw-headline" id="Support_Forums"> Support Forums </span></h3>
<div style="padding:0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <b><a href="{{ site.url }}/Support.html" title="Help: Support">Getting Help</a></b>
</li><li> <b><a rel="nofollow" class="external text" href="http://community.mybb.com/">MyBB Community Forums (English)</a></b>
</li><li> <a rel="nofollow" class="external text" href="http://community.mybb.com/thread-24911.html">List of non-English support forums</a>
</li></ul>
</div>
</div>
<h2> <span class="mw-headline" id="MyBB_Development"> MyBB Development <a href="{{ site.url }}/Development.html" title="Development">&#187;</a> </span></h2>
<div style="padding: 0.5em; background: #f5f5f5; border: 1px solid #ddd;  margin-bottom: 10px;">
<h3> <span class="mw-headline" id="Versions"> Versions <a href="{{ site.url }}/Versions.html" title="Versions">&#187;</a> </span></h3>
<div style="padding: 0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <a href="{{ site.url }}/Development.html#MyBB_1.6" title="Development">MyBB 1.6</a>
</li><li> <a href="{{ site.url }}/Development.html#MyBB_Merge_System" title="Development">Merge System 1.6</a>
</li></ul>
</div>
<h3> <span class="mw-headline" id="Contribute"> Contribute </span></h3>
<div style="padding: 0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <a href="{{ site.url }}/Development.html#Getting_Involved" title="Development">Getting Involved</a>
<ul><li> <a href="{{ site.url }}/Development.html#GitHub_Access" title="Development">GitHub Access</a>
</li><li> <a href="{{ site.url }}/Development.html#Becoming_a_Developer" title="Development">Becoming a Developer</a>
</li></ul>
</li><li> <a href="{{ site.url }}/Development_Standards.html" title="Development Standards">Development Standards</a>
</li></ul>
</div>
<h3> <span class="mw-headline" id="Plugins.2C_Themes.2C_and_More"> Plugins, Themes, and More <a href="{{ site.url }}/Customization.html" title="Customization">&#187;</a> </span></h3>
<div style="padding: 0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <b><a rel="nofollow" class="external text" href="http://mods.mybboard.net/">MyBB Mods</a> - Official modification site</b>
</li><li> <a href="{{ site.url }}/Templates_and_Themes.html" title="Templates and Themes">Templates and Themes</a>
<ul><li> <a href="{{ site.url }}/Authoring_Templates_and_Themes.html" title="Authoring Templates and Themes">Authoring Templates and Themes</a>
</li><li> <a rel="nofollow" class="external text" href="http://mods.mybb.com/themes">User-created Templates and Themes</a>
</li></ul>
</li><li> <a href="{{ site.url }}/Plugins.html" title="Plugins">Plugins</a>
<ul><li> <a href="{{ site.url }}/Authoring_Plugins.html" title="Authoring Plugins">Authoring Plugins</a>
</li><li> <a href="{{ site.url }}/MyBB_Plugin_Hooks.html" title="MyBB Plugin Hooks">Plugin Hooks</a>
</li><li> <a rel="nofollow" class="external text" href="http://mods.mybb.com/mods">User-created Plugins</a>
</li></ul>
</li><li> <a href="{{ site.url }}/Translations.html" title="Translations">Translations</a>
</li><li> <a href="{{ site.url }}/Developer_Tools.html" title="Developer Tools">Developer Tools</a>
</li><li> <a href="{{ site.url }}/Resource_Sites.html" title="External Resource Sites">External Resource Sites</a>
</li></ul>
</div>
</div>
<h3> <span class="mw-headline" id="About_MyBB"> About MyBB <a href="{{ site.url }}/Introduction.html" title="Introduction">&#187;</a> </span></h3>
<div style="padding: 0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<p>MyBB is a free and open source, easy to use, PHP powered forum software. <b><a href="{{ site.url }}/Introduction.html" title="Introduction">Read More &#187;</a></b>
</p>
</div>
<h3> <span class="mw-headline" id="Appendix"> Appendix </span></h3>
<div style="padding: 0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <a href="{{ site.url }}/Glossary.html" title="Glossary">Glossary</a> of Related Terms
</li><li> <a href="{{ site.url }}/Development.html" title="Development">MyBB Development</a>
</li><li> <a href="{{ site.url }}/Versions.html" title="Versions">Versioning Scheme, Release Cycle, and Version List</a>
</li></ul>
</div>
</div>
<div style="width:47%; float:right; display: inline; padding:0; margin-bottom:15px;">
<h2> <span class="mw-headline" id="Using_MyBB"> Using MyBB <a href="{{ site.url }}/Documentation.html" title="Documentation">&#187;</a> </span></h2>
<div style="padding:0.5em; background: #f5f5f5; border: 1px solid #ddd;  margin-bottom: 10px;">
<h3> <span class="mw-headline" id="Front_End"> Front End <a href="{{ site.url }}/Front_End.html" title="Front End">&#187;</a> </span></h3>
<div style="padding:0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <a href="{{ site.url }}/Index_Page.html" title="Index Page">Index Page</a>
</li><li> <a href="{{ site.url }}/Portal.html" title="Portal">Portal</a>
</li><li> <a href="{{ site.url }}/Forum_Display.html" title="Forum Display">Forum Display</a>
</li><li> <a href="{{ site.url }}/Thread_Display.html" title="Thread Display">Thread Display</a>
</li><li> <a href="{{ site.url }}/Posting.html" title="Posting">Posting Threads and Replies</a>
</li><li> <a href="{{ site.url }}/Searching.html" title="Searching">Searching</a>
</li><li> <a href="{{ site.url }}/User_CP.html" title="User CP">User CP</a>
</li><li> <a href="{{ site.url }}/Member_Profile.html" title="Member Profile">Member Profile</a>
</li><li> <a href="{{ site.url }}/Private_Messages.html" title="Private Messages">Private Messages</a>
</li><li> <a href="{{ site.url }}/Calendar.html" title="Calendar">Calendar</a>
</li><li> <a href="{{ site.url }}/Member_List.html" title="Member List">Member List</a>
</li><li> <a href="{{ site.url }}/Help_Docs.html" title="Help Docs">Help Docs</a>
</li><li> <a href="{{ site.url }}/Who_Is_Online.html" title="Who Is Online">Who Is Online</a>
</li><li> <a href="{{ site.url }}/Lite_Archive_Mode.html" title="Lite (Archive) Mode">Lite (Archive) Mode</a>
</li><li> <a href="{{ site.url }}/Forum_Team.html" title="Forum Team">Forum Team</a>
</li><li> <a href="{{ site.url }}/Statistics.html" title="Statistics">Statistics</a>
</li><li> <a href="{{ site.url }}/RSS_Syndication.html" title="RSS Syndication">RSS Syndication</a>
</li><li> <a href="{{ site.url }}/Miscellaneous_Frontend.html" title="Miscellaneous Frontend">Miscellaneous</a>
</li></ul>
</div>
<h3> <span class="mw-headline" id="Moderation_Tools"> Moderation Tools <a href="{{ site.url }}/Moderating_Options.html" title="Moderating Options">&#187;</a> </span></h3>
<div style="padding:0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <a href="{{ site.url }}/Moderating_Options.html#Normal_Thread_Moderation" title="Moderating Options">Standard Thread Moderation</a>
</li><li> <a href="{{ site.url }}/Moderating_Options.html#Inline_Thread_Moderation" title="Moderating Options">Inline Thread Moderation</a>
</li><li> <a href="{{ site.url }}/Moderating_Options.html#Inline_Post_Moderation" title="Moderating Options">Inline Post Moderation</a>
</li><li> <a href="{{ site.url }}/Warning_System.html" title="Warning System">Warning System</a>
</li><li> <b><a href="{{ site.url }}/Mod_CP.html" title="Mod CP">Mod CP</a></b>
<ul><li> <a href="{{ site.url }}/Mod_CP_Forums_Posts.html" title="Mod CP Forums Posts">Forums &amp; Posts</a>
</li><li> <a href="{{ site.url }}/Mod_CP_Users.html" title="Mod CP Users">Users</a>
</li></ul>
</li></ul>
</div>
<h3> <span class="mw-headline" id="Admin_Control_Panel"> Admin Control Panel <a href="{{ site.url }}/Admin_CP.html" title="Admin CP">&#187;</a> </span></h3>
<div style="padding:0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <a href="{{ site.url }}/Admin_CP_Home.html" title="Admin CP Home">Home</a>
</li><li> <a href="{{ site.url }}/Admin_CP_Config.html" title="Admin CP Config">Configuration</a>
</li><li> <a href="{{ site.url }}/Admin_CP_Forums_Posts.html" title="Admin CP Forums Posts">Forums &amp; Posts</a>
</li><li> <a href="{{ site.url }}/Admin_CP_Users_Groups.html" title="Admin CP Users Groups">Users &amp; Groups</a>
</li><li> <a href="{{ site.url }}/Admin_CP_Templates_Style.html" title="Admin CP Templates Style">Templates &amp; Style</a>
<ul><li> <a href="{{ site.url }}/Admin_CP_Themes.html" title="Admin CP Themes">Themes</a>
</li><li> <a href="{{ site.url }}/Admin_CP_Templates.html" title="Admin CP Templates">Templates</a>
</li></ul>
</li><li> <a href="{{ site.url }}/Admin_CP_Tools.html" title="Admin CP Tools">Tools &amp; Maintenance</a>
</li></ul>
</div>
<h3> <span class="mw-headline" id="More"> More <a href="{{ site.url }}/Documentation.html" title="Documentation">&#187;</a> </span></h3>
<div style="padding:0.5em; background: #fff; border: 1px solid #ddd;  margin-bottom: 10px;">
<ul><li> <a href="{{ site.url }}/Database_Backup.html" title="Database Backup">Database Backup</a>
</li><li> <a href="{{ site.url }}/Database_Restore.html" title="Database Restore">Database Restore</a>
</li><li> <a href="{{ site.url }}/Tutorials.html" title="Tutorials" class="mw-redirect">Tutorials</a>
</li><li> <a href="{{ site.url }}/Help-Contents.html" title="Help Contents">Common Problems/FAQ</a>
</li><li> <a rel="nofollow" class="external text" href="{{ site.url }}/sourcedocs">MyBB Source Docs</a>
</li><li> <a rel="nofollow" class="external text" href="http://crossreference.mybboard.de">Alternate Source Docs at MyBBoard.de</a>
</li></ul>
</div>
</div>
</div>
</div>
<div style="clear: both; border: 1px solid #0F5C8E; background: #ADCBE7; text-align: center; font-size: 25px; color: #0F5C8E; padding: 25px;"><b>MyBB</b>: Because <a href="{{ site.url }}/Free_never_tasted_so_good.html" title="Free never tasted so good"><span style="color: #0F5C8E; border-bottom: 2px dashed #0F5C8E;">free never tasted so good</span></a></div>
<p><br style="clear:both" />
</p>
