<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>MyBB Documentation - {{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="author" content="MyBB Group" />
	<meta name="copyright" content="Copyright MyBB Group." />
	<link rel="stylesheet" type="text/css" href="http://mybb.com/assets/screen.css?xmas" />
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/browserdefaults_compact.css" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="http://mybb.com/assets/screen_ie.css?zz" />
	<![endif]-->

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/scripts/docs.js"></script>
	<script type="text/javascript" src="{{ site.url }}/scripts/prettify.js"></script>
	<!--[if lt IE 7]>
	<script defer type="text/javascript" src="http://mybb.com/assets/pngfix.js"></script>
	<![endif]-->
	<style type="text/css">body{margin-top:0!important;padding-top:0!important;min-width:800px!important;}#wm-ipp a:hover{text-decoration:underline!important;}</style>
</head>
<body>
	<div id="shadow">
		<div id="container">
			<!--search:no_index-->
			<div id="header">
			<a class="link" href="/"></a>
				<div id="menu">
				<ul>
					<li class="default"><a href="http://www.mybb.com/">Home</a></li>
					<li class="default"><a href="http://www.mybb.com/about">About</a></li>
					<li class="default"><a href="http://www.mybb.com/features">Features</a></li>
					<li class="default"><a href="http://www.mybb.com/downloads">Downloads</a></li>
					<li class="default"><a href="http://community.mybb.com/">Community Forum</a></li>
					<li class="default"><a href="http://www.mybb.com/get-involved">Get Involved</a></li>
					<li class="default"><a href="http://mods.mybb.com/">Mods</a></li>
					<li class="active"><a href="http://docs.mybb.com/">Docs</a></li>
					<li class="default"><a href="http://blog.mybb.com/">Blog</a></li>

				</ul>
				</div>
			</div>
			
			
			<!--/search:no_index-->
			<div id="content">
				<div id="bodyContent">
					<div id="sidebar">
						<div class="item">
						<div class="sidebar_top"><div class="right"></div></div>
							<h3>Categories</h3>
							<ul class="docs_categories">
							 {% for category in site.categories %} 
							  <li><a name="{{ category | first }}">{{ category | first }}</a> 
								<ul class="docs_subcat"> 
								{% for posts in category %} 
								  {% for post in posts %} 
									<li><a href="{{ post.url }}">{{ post.title }}</a></li> 
								  {% endfor %} 
								{% endfor %} 
								</ul> 
							  </li> 
							{% endfor %} 
							</ul>
						<div class="sidebar_bottom"><div class="right"></div></div>
						</div>
					</div>
					
					<div id="page">
						<h1>{{ page.title }}</h1>
						
						{{ content }}
						
						Last updated on: {{ page.date }}.
					</div>
				</div>
			</div>
		</div>
		
		<div id="footer">
				<script type="text/javascript" src="http://mybb.com/footer_credit.js"></script>
				<p>Copyright &copy; 2010 MyBB Group. All rights reserved.</p>
				<p><a href="/contact">Contact</a> MyBB Group &mdash; <em>for support with MyBB, visit <a href="/support">support</a></em></p><br />
			</div>
		</div>  
	</div>
	
	<div id="shadow_footer"></div>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-11443733-2']);
	  _gaq.push(['_setDomainName', 'none']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>

